<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "SoftwareApplication",
      "name": "PhotoMapper: GPS EXIF Editor",
      "applicationCategory": "Photo & Video",
        "availableOnDevice": [
            "iPhone",
            "iPad",
            "iPod touch"
        ],
        "fileSize": "33.1 MB",
        "downloadUrl": "https://itunes.apple.com/us/app/photomapper-gps-exif-editor/id1347742014?mt=8&ign-mpt=uo%3D4",
        "installUrl": "https://itunes.apple.com/us/app/photomapper-gps-exif-editor/id1347742014?mt=8&ign-mpt=uo%3D4",
        "screenshot": "https://photomapperapp.com/assets/screenshot/0x0ss.jpg",
        "accountablePerson": {
            "@type": "Person",
            "additionalName": "Nikolay Fiantsev"
        },
        "copyrightHolder": "Nikolay Fiantsev",
       
      "operatingSystem": "iOS 10.3", 
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "ratingCount": "17"
      },
      "offers": {
        "@type": "Offer",
        "priceCurrency": "USD",
        "price": "1.99"
      } 
    }
    </script>